html{
  font-family: pacifico;
  background-color: #770077;
  background-image: url(../images/s.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body{
  width: 600px;
  margin: 40px auto;
  border-radius: 30px;
  background-color: rgba(127, 255, 212, 0.5);
  padding: 0 20px 20px 20px;
}

h1{
  font-size: 50px;
  text-align: center;
  color:Black;
  font-family: Dancing script;
  width: 550px;
  /* text-shadow: 3px 3px 1px black; */
  padding: 20px 0;
}

h2 {
  color: blue;
  text-decoration: underline;
}

p,li{
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  color: black;
  border-style: none;
}

img{
  display: block;
  border-radius: 30px;
  margin: 0 auto;
}

#button{
background-color:DeepSkyBlue;
width: 80px;
padding: 20px;
margin: 0 auto;

}

#button:hover{
Background-color:DodgerBlue ;
cursor: pointer;
}
